In [1]:
import pandas as pd

In [2]:
import numpy as np

In [12]:
np.random.seed(10)
a=np.random.randn(4,5)

In [13]:
a

array([[ 1.3315865 ,  0.71527897, -1.54540029, -0.00838385,  0.62133597],
       [-0.72008556,  0.26551159,  0.10854853,  0.00429143, -0.17460021],
       [ 0.43302619,  1.20303737, -0.96506567,  1.02827408,  0.22863013],
       [ 0.44513761, -1.13660221,  0.13513688,  1.484537  , -1.07980489]])

In [15]:
df=pd.DataFrame(a,index=['A','B','C','D'],columns=['W','R','T','U','V'])

In [16]:
df

          W         R         T         U         V
A  1.331587  0.715279 -1.545400 -0.008384  0.621336
B -0.720086  0.265512  0.108549  0.004291 -0.174600
C  0.433026  1.203037 -0.965066  1.028274  0.228630
D  0.445138 -1.136602  0.135137  1.484537 -1.079805

In [17]:
df1=pd.DataFrame(a)

In [18]:
df1

          0         1         2         3         4
0  1.331587  0.715279 -1.545400 -0.008384  0.621336
1 -0.720086  0.265512  0.108549  0.004291 -0.174600
2  0.433026  1.203037 -0.965066  1.028274  0.228630
3  0.445138 -1.136602  0.135137  1.484537 -1.079805